<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Analyzer - Error</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-zKw81cRsGGtnJTpxr3+o5H0YMM1y2sOxv76X8SqMOrwGN+1UdbPEt85UKR3blFJVH2TCjxGZMF5ld7zJpoERLQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>CSV Analyzer - Error</h1>
    <p>{{ error_message }}</p>
</body>
</html>
